:root {
 azul: principal #072f78; 
 azul_-secundario:#0B4FBD
 botão-azul:#0E65F0
cor de fundo:#5793F2
}

*{
  margin: 0;
  padding: 0;
  }

.introdução{
  font: size 15px;;
}
.titulo{
position:center
font: size 25px;;
color: #072f78; 
}
.rodape {
  height: 5%;
  width: 100%;
  background::#5793F2
  position: absolute;
  bottom: 0;
}
.strong{
  background-color:#0B4FBD ;
}
