:root {
--blueprincipal:#183166
--bluesecundario:#7EA0EA

}
.body{
background-color: var(--blueprincipal)
}
.barra {
 height: 20%;
weight: 100px; ;
}
.h1 {
  background-color :rgb(204, 69, 6) 
  
}



