:root {
 azul: principal #072f78; 
 azul_-secundario:#0B4FBD
 botão-azul:#0E65F0
cor de fundo:#5793F2
}

*{
  margin: 0;
  padding: 0;
  }

.menu {
  height: 1000px;
  width: 100px;
  background: var( --cor-de-fundo)
}
#novoensinomédio{
  width:200px;
  height:300px;
  border: none;
  text-align: center;
}
.introdução{
 font-weight: lighter;
 font: size 25px;;
 text-align: center;
}
.title {
  font-size: 40px;
  color:blue;
}
